@require "app/styles/charte"

/**
 * Sponsor
 */
#sponsors img
  max-height: 160px
  max-width: 400px
  padding: .25em 1em

#bigSponsors, #litleSponsors
  display: flex
  flex-wrap: wrap
  justify-content: space-around

#litleSponsors
  justify-content: center
  margin-top: 1em

#litleSponsors img
  max-height: 70px
