@require "app/styles/charte"

body
  font-family: 'Roboto Condensed', sans-serif;
  background: #F9F9F9;
  text-align: center

section
  background: $white
  margin: auto
  width: 1200px

h2
  display: inline-block
  margin: .5em auto
  padding: .75em 1em
  border-radius: 10px
  background: $gray
  color: $orange
  font-size: 1.5em
  font-weight: bold
