@require "app/styles/charte"

body
  font-family: 'Roboto Condensed', sans-serif;
  background: #F9F9F9;
  text-align: center

section
  background: $white
  margin: auto
  width: 1200px

mark
  background-color: transparent
  font-weight: bold
  color: $orange

h2, h3
  display: inline-block
  margin: .5em auto
  padding: .75em 1em
  border-radius: 10px
  background: $gray
  color: $orange
  font-size: 1.55em
  font-weight: bold

h3
  margin: 0.35em auto
  padding: 0.5em 0.75em
  border-radius: 8px
  font-size: 1.4em

p
  font-size: 1.2em
  line-height: 150%
